<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Crear producto</title>
</head>

<body>

    <header class="header">
        <%- include('partials/header.ejs') %>
    </header>
    <main class="formulario">
        <form action="/products/store" method="post" enctype="multipart/form-data">
            <section class="menu">

                <h2>Crea un producto</h2>

                <div class="clase1">
                    <input class="casilla" type="text" name="name" id="name" placeholder="Nombre del producto">
                </div>

                <div class="clase1">
                    <input class="casilla" type="number" id="price" name="price" placeholder="precio">
                </div>

                <div class="clase1">
                    <input class="casilla" type="text" name="category" id="category" placeholder="Categoría">
                </div>

                <div class="clase1">
                    <input class="casilla" type="text" id="description" name="description" placeholder="Descripción">
                </div>


                <div class="clase1">
                    <input class="casilla" type="file" accept=".png,.jpg" name="imagenProducto" placeholder="Imagen">
                </div>

                <button class="boton2" type="submit" class="buy-now-button">Guardar producto</button>

            </section>

        </form>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>

    </footer>

</body>

</html>